// Menu Button
.menu-btn {
	position: absolute;
	z-index: 3;
	right: 35px;
	top: 35px;
	cursor: pointer;
	@include easeOut;
	animation-name: fadeDown;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-delay: 3s;
	animation-fill-mode: backwards;

	.btn-line {
		width: 28px;
		height: 3px;
		margin: 0 0 5px 0;
		background: set-text-color($primary-color);
		@include easeOut;
	}

	// Rotate Into X With Menu Lines
	&.close {
		transform: rotate(180deg);

		.btn-line {
			// Line 1 - Rotate
			&:nth-child(1) {
				transform: rotate(45deg) translate(5px, 5px);
			}

			// Line 2 - Hide
			&:nth-child(2) {
				opacity: 0;
			}

			// Line 3 - Rotate
			&:nth-child(3) {
				transform: rotate(-45deg) translate(7px, -6px);
			}
		}
	}
}
@keyframes fadeDown {
	0% {
		opacity: 0;
		transform: translateY(-0.5rem);
	}
	50% {
		opacity: 0.5;
		transform: translateY(0.5rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

// Menu Overlay
.menu {
	position: fixed;
	top: 0;
	width: 100%;
	opacity: 0.95;
	visibility: hidden;

	&.show {
		visibility: visible;
	}

	&-branding,
	&-nav {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		justify-content: center;
		float: left;
		width: 50%;
		height: 100vh;
		overflow: hidden;
	}

	&-nav {
		margin: 0;
		padding: 0;
		background: darken($primary-color, 5);
		list-style: none;
		transform: translate3d(0, -100%, 0);
		@include easeOut;

		&.show {
			// Slide in from top
			transform: translate3d(0, 0, 0);
		}
	}

	// Branding Side
	&-branding {
		background: $primary-color;
		transform: translate3d(0, 100%, 0);
		@include easeOut;

		&.show {
			// Slide in from bottom
			transform: translate3d(0, 0, 0);
		}

		.portrait {
			width: 65%;
			// width: 250px;
			// height: 250px;
			// background: url('../img/small_portrait.jpg');
			// border-radius: 50%;
			// background-image: linear-gradient(
			// 		to bottom,
			// 		rgba(245, 252, 247, 0.1),
			// 		rgba(2, 238, 81, 0.4)
			// 	),
			// 	url('../img/small_port.jpg');
			// background-size: cover;
			// -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
			// clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
			// border-bottom: 3px solid $secondary-color;
		}
		.fact-heading {
			color: $secondary-color;
			font-size: 3rem;
		}
		.fact-text {
			font-size: 1.5rem;
		}
		.fact-heading,
		.fact-text {
			font-family: 'Indie Flower', cursive;
		}
	}

	.nav-item {
		transform: translate3d(600px, 0, 0);
		@include easeOut;

		&.show {
			// Slide in from right
			transform: translate3d(0, 0, 0);
		}

		&.current > a {
			color: $secondary-color;
		}
	}

	.nav-link {
		display: inline-block;
		cursor: pointer;
		position: relative;
		font-size: 30px;
		text-transform: lowercase;
		padding: 1rem 0;
		font-weight: 300;
		color: set-text-color($primary-color);
		text-decoration: none;
		@include easeOut;
		& a {
			&:hover {
				color: $secondary-color;
			}
		}
		&:hover {
			color: $secondary-color;
		}
	}
}

// Delay each nav item slide by 0.1s
@for $x from 1 through 5 {
	.nav-item:nth-child(#{$x}) {
		transition-delay: $x * 0.1s;
	}
}
